
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: serif;
}

